body{
    background-color: #18181B;
    color: whitesmoke;
}
.nav-bar{
    margin-top: 1rem;
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
}

.menu-nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu-nav li {
    list-style: none;
}

.menu-nav li a{
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s;
}

.menu-nav li a:hover{
    color: #3f6ff3;
    cursor: pointer;
}

.button{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#menu{
    font-size: 1.8rem;
}
#cross{
    font-size: 2rem;
}

.nav-ul{
    display: none;
    flex-direction: column;
    position: fixed;
    width: 250px;
    height: 100%;
    right: 0;
    top: 0;
    padding: 0;
    backdrop-filter: blur(10px);
    background-color: rgb(118, 132, 206, 0.1);
}

.nav-ul li{
    list-style: none;
    width: 100%;
    height: 60px;
    padding: 1rem;
}

.nav-ul li a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    transition: all 0.5s;
}

.nav-ul li:hover{
    background-color: #3f6ff3;
}

.nav-btn{
    padding: 1rem;
    border-radius: 15px;
    border-color: none;
    background-color: #0a47ed;
    border: none;
    color: whitesmoke;
    transition: all 0.5s;
}

.nav-btn a{
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
}

.nav-btn:hover{
    background-color: #1126e5;
    transform: scale(1.1);
}

@media (width > 800px){
    
    #menu{
        display: none;
    }
}

@media (width <= 800px){
    .nav-bar{
        display: flex;
        justify-content: space-between;
        padding:  2rem 3rem;
    }
    .menu-nav{
        display: none;
    }
    .nav-btn{
        padding: 0.7rem;
        
    }
}
@media (width < 500px){
    .nav-bar{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }
    
}
