
.footer{
    position: relative;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}
.foot-content{
    display: grid;
    padding: 1rem;
    margin-top: 1rem;
    gap: 1.5rem;
    padding-bottom: 5rem;
}

.foot-content a{
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s;
}

.foot-content a:hover{
    color: #3f6ff3;
}

.foot-h4{
    font-size: 1.5rem;
}
.footer-blur{
    position: absolute;
    left: 250px;
    color: #0a47ed;
    box-shadow: 0 0 5000px 90px;
    z-index: -100;
}
.details{
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
.icons{
  gap: 1rem;
}

.icons a{
  color: whitesmoke;
  text-decoration: none;
}

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: -1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  .wave#wave2 {
    z-index: -999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: -1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: -999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  

  @media (width < 500px){
  
    .foot-content{
      padding: 1rem;
      font-size: .9rem;
    }
    .details{
      margin-top: 3rem;
      padding: 2rem;
    }
    .icons{
      font-size: 0.9rem;
    }
  }


  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }